---
<img src="https://ead.ufes.br/pluginfile.php/188418/course/summary/Banner%20IA%20e%20CD.png" style="float: right;">

# Laborat√≥rio 1: Matrizes, Series e DataFrames


Bem-vindo ao Laborat√≥rio 1!  Objetivo desta aula √© familiarizar com  as ferramentas discutidas na Aula 03 - An√°lise Explorat√≥ria de dados.

N√£o se apegue aqui com os detalhes da linguagem, voc√™ ver√° Python na pr√≥xima disciplina.

**N√£o use loops `for` em nenhuma pergunta deste laborat√≥rio.** Se voc√™ n√£o sabe o que √© um loop `for`, n√£o se preocupe: Isso ser√° ensinado na pr√≥xima disciplina. Mas se voc√™ sabe o que eles s√£o e est√° se perguntando por que n√£o √© correto us√°-los, √© porque os loops em Python s√£o lentos e os loops em arrays e DataFrames geralmente devem ser evitados, j√° que temos fun√ß√µes nativas de bibliotecas como `numpy` que s√£o muito mais r√°pidas.

**Objetivos**

Aprender como carregar dados de um arquivo CSV, manipula√ß√£o de arrays e matrizes usando o `Numpy` ver na pr√°tica dados tabulares como matrizes, que com a biblioteca `pandas` s√£o tratadas como dataframes.


**Resultados Esperados**
1. Compreender o que √© uma matriz
1. Conhecer as principais bibliotecas
1. Ver as principais funcionalidades da biblioteca `NumPy`
1. Compreender o que √© um `Serie` e um `Dataframe` do `Pandas`



Mais exemplos de manipula√ß√£o de dataframes em https://notes.dsc10.com/02-data_sets/querying.html#examples

### Dica: atalhos de teclado

Existem v√°rios atalhos de teclado integrados aos Notebooks projetados para ajudar voc√™ a economizar tempo. Para v√™-los, pressione a tecla H do teclado (desde que voc√™ n√£o esteja editando ativamente uma c√©lula).

Atalhos particularmente √∫teis:

| A√ß√£o | Atalho de teclado |
| --- | --- |
| Executar c√©lula + pular para a pr√≥xima c√©lula | CTRL +  ENTER |
| Executar tudo | CTRL + F9 |
| Executar tudo abaixo da c√©lula selecionado | CTRL + F10 |
| Criar nova c√©lula acima/abaixo | A/B |
| Excluir c√©lula | CTRL + M + D |

In [1]:
import numpy as np
import pandas as pd

Al√©m disso, iremos baixar alguns dados que usaremos ao longo desse notebook. N√£o se preocupe em entender a c√©lula a seguir, mas basicamente o que estamos fazendo √©:

1. Usaremos `wget` que √© um comando para baixarmos coisas da internet.
2. Usaremos `unzip` para "dezipar" o arquivo `data.zip`, contendo uma pasta com os nossos dados.
3. Removeremos `data.zip` com o comando `rm` para n√£o ficarmos com arquivos desnecess√°rios.

> Para executarmos comandos de terminal no Jupyter Notebook, iniciamos as linhas com `!`.

Voc√™ pode ver os arquivos que foram baixados no s√≠mbolo diret√≥rio (na esquerda) diret√≥rio data. Se tudo funcionou corretamente,  a estrutura estar√° assim:

-  data
 - imdb.csv
 - more_restaurantes_bills.csv
 - world_population.csv
 - world_population_2022.csv

In [2]:
!wget http://www.inf.ufes.br/~vinicius.mota/Intro-IA-CD/01-dataframes/data.zip -P ./
!unzip data.zip
!rm data.zip

--2024-09-07 21:05:07--  http://www.inf.ufes.br/~vinicius.mota/Intro-IA-CD/01-dataframes/data.zip
Resolving www.inf.ufes.br (www.inf.ufes.br)... 200.137.66.17
Connecting to www.inf.ufes.br (www.inf.ufes.br)|200.137.66.17|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 207630 (203K) [application/zip]
Saving to: ‚Äò./data.zip‚Äô

data.zip            100%[===================>] 202.76K   223KB/s    in 0.9s

2024-09-07 21:05:10 (223 KB/s) - ‚Äò./data.zip‚Äô saved [207630/207630]

Archive:  data.zip
   creating: data/
  inflating: data/imdb.csv
  inflating: data/more_restaurant_bills.csv
  inflating: data/world_population.csv
  inflating: data/world_population_2022.csv

# 1. Matrizes

Os computadores s√£o mais √∫teis quando voc√™ pode usar uma pequena quantidade de c√≥digo para *fazer a mesma a√ß√£o* para *muitas coisas diferentes*.

Por exemplo, no tempo que voc√™ leva para calcular a gorjeta de 18% na conta de um restaurante, um laptop pode calcular gorjetas de 18% para cada conta de restaurante paga por cada ser humano na Terra naquele dia. (Isto √©, se voc√™ for muito r√°pido em fazer contas de cabe√ßa!)

**Matrizes** s√£o como colocamos muitos valores em um s√≥ lugar para que possamos operar neles como um grupo. Por exemplo, se `bilhoes_de_numeros` for uma matriz de n√∫meros, a express√£o

```python
0.18 * bilhoes_de_numeros
```

fornece uma nova matriz de n√∫meros que √© o resultado da multiplica√ß√£o de cada n√∫mero em `bilhoes_de_numeros` por 0,18 (18%). As matrizes n√£o est√£o limitadas a n√∫meros; tamb√©m podemos colocar todas as palavras de um livro em uma s√©rie de strings.

Concretamente, uma matriz √© uma **cole√ß√£o de valores do mesmo tipo**, como uma coluna em uma planilha (pense no Planilhas Google ou no Microsoft Excel).

<img src="http://www.inf.ufes.br/~vinicius.mota/Intro-IA-CD/01-dataframes/sheet_array.png" width=600>

## 1.1. Fazendo matrizes
Voc√™ mesmo pode digitar os dados que v√£o em um array, mas normalmente n√£o √© assim que criaremos arrays. Normalmente, criamos arrays carregando-os de uma fonte externa, como um arquivo de dados.

Por√©m, primeiro vamos aprender como fazer isso da maneira mais dif√≠cil. Para come√ßar, podemos fazer uma **lista** de n√∫meros colocando-os entre colchetes e separando-os por v√≠rgulas:

In [3]:
minha_lista = [14, -2.26, 0.15]
minha_lista

[14, -2.26, 0.15]

Assim como `int`, `float` e `str`, a `list` √© um tipo de dados fornecido pelo Python. As listas s√£o muito flex√≠veis e f√°ceis de trabalhar, mas s√£o *lentas* üê¢.

Como cientistas de dados, frequentemente trabalharemos com milh√µes ou at√© bilh√µes de n√∫meros. Para isso, precisamos de algo mais r√°pido que uma `lista`. Em vez de listas, usaremos *arrays*.

Arrays s√£o fornecidos por um pacote chamado [NumPy](http://www.numpy.org/) (pronuncia-se "NUM-pai"). O pacote √© chamado `numpy`, mas √© padr√£o abrevi√°-lo para `np`. Voc√™ pode fazer isso com:

```python
import numpy as np
```

Cientistas de dados, bem como engenheiros e cientistas de todos os tipos, usam `numpy` com frequ√™ncia, e voc√™ ver√° bastante disso se for especialista em ci√™ncia de dados.

In [4]:
import numpy as np

Agora, para criar um array, chame a fun√ß√£o `np.array` com uma lista de n√∫meros. Execute esta c√©lula para ver um exemplo:

In [5]:
np.array([14, -2.26, 0.15])

array([14.  , -2.26,  0.15])

Observe que voc√™ precisa dos colchetes aqui. Se voc√™ tentasse executar o c√≥digo a seguir, o Python acharia ruim porque voc√™ o esqueceu:

```python
np.array(14, -2.26, 0.15)
```

Os pr√≥prios arrays tamb√©m s√£o valores, assim como n√∫meros e strings. Isso significa que voc√™ pode atribuir nomes a eles ou us√°-los como argumentos para fun√ß√µes.

**Quest√£o 1.1.1.** Fa√ßa um array contendo os n√∫meros 2, 4 e 6, nessa ordem. Nomeie-o como `numeros_pares`.

In [6]:
numeros_pares = ([2, 4, 6])
print(f'numeros_pares',numeros_pares)

numeros_pares [2, 4, 6]

**Quest√£o 1.1.2.** Fa√ßa um array contendo as cinco strings `"Hello"`, `","`, `" "`, `"world"` e `"!"`. (O terceiro √© um espa√ßo √∫nico entre aspas.) Nomeie-o como `componentes_hello_world`.

*Nota:* Se voc√™ imprimir `componentes_hello_world`, voc√™ notar√° algumas informa√ß√µes extras al√©m de seu conte√∫do: `dtype='<U5'`. Essa √© apenas a maneira extremamente estranha do NumPy de dizer que as coisas no array s√£o strings. Caso voc√™ esteja interessado, o `U` significa que esta string est√° codificada em [unicode](https://en.wikipedia.org/wiki/Unicode), e o `<5` significa que todas as strings no array t√™m 5 caracteres ou menos.

In [7]:
componentes_hello_world = (["Hello", ",", " ", "world","!"])
print(f'componentes_hello_world',componentes_hello_world)

componentes_hello_world ['Hello', ',', ' ', 'world', '!']

Muitas vezes, em ci√™ncia de dados, queremos trabalhar com muitos n√∫meros espa√ßados uniformemente dentro de algum intervalo. NumPy fornece uma fun√ß√£o especial para isso chamada `arange`.
 A express√£o `np.arange(comeco, fim, espaco)`

 produz um array com todos os n√∫meros come√ßando em `comeco`, contando de  `espaco` em `espaco`, parando **antes** de `fim` ser alcan√ßado.

Por exemplo, o valor de `np.arange(1, 8, 2)` √© uma matriz com os elementos `1, 3, 5 e 7` - come√ßa em 1 e vai contando de 2 em 2, terminando at√© chegar no √∫ltimo valor menor que 8. Em outros palavras, ele cria o mesmo array que `np.array([1, 3, 5, 7])`.

`np.arange(4, 9, 1)` √© um array com os elementos `4, 5, 6, 7 e 8`, n√£o contendo o 9 porque `np.arange` para *antes* do valor de parada ser atingido.

**Pergunta 1.1.3.** Use `np.arange` para criar um array com todos os m√∫ltiplos de 99 de 0 at√© (**e incluindo**) 9999. (Portanto, seus elementos s√£o 0, 99, 198, 297, etc.)

In [8]:
import numpy as np

multiplos_de_99 = np.arange(0, 10000, 99)
print(f'multiplos_de_99', multiplos_de_99)

multiplos_de_99 [   0   99  198  297  396  495  594  693  792  891  990 1089 1188 1287
 1386 1485 1584 1683 1782 1881 1980 2079 2178 2277 2376 2475 2574 2673
 2772 2871 2970 3069 3168 3267 3366 3465 3564 3663 3762 3861 3960 4059
 4158 4257 4356 4455 4554 4653 4752 4851 4950 5049 5148 5247 5346 5445
 5544 5643 5742 5841 5940 6039 6138 6237 6336 6435 6534 6633 6732 6831
 6930 7029 7128 7227 7326 7425 7524 7623 7722 7821 7920 8019 8118 8217
 8316 8415 8514 8613 8712 8811 8910 9009 9108 9207 9306 9405 9504 9603
 9702 9801 9900 9999]

In [9]:
#@title solu√ß√£o
multiplos_de_99 = np.arange(0, 10000, 99)
multiplos_de_99

array([   0,   99,  198,  297,  396,  495,  594,  693,  792,  891,  990,
       1089, 1188, 1287, 1386, 1485, 1584, 1683, 1782, 1881, 1980, 2079,
       2178, 2277, 2376, 2475, 2574, 2673, 2772, 2871, 2970, 3069, 3168,
       3267, 3366, 3465, 3564, 3663, 3762, 3861, 3960, 4059, 4158, 4257,
       4356, 4455, 4554, 4653, 4752, 4851, 4950, 5049, 5148, 5247, 5346,
       5445, 5544, 5643, 5742, 5841, 5940, 6039, 6138, 6237, 6336, 6435,
       6534, 6633, 6732, 6831, 6930, 7029, 7128, 7227, 7326, 7425, 7524,
       7623, 7722, 7821, 7920, 8019, 8118, 8217, 8316, 8415, 8514, 8613,
       8712, 8811, 8910, 9009, 9108, 9207, 9306, 9405, 9504, 9603, 9702,
       9801, 9900, 9999])

## 1.2. Trabalhando com elementos √∫nicos de arrays ("indexa√ß√£o")
Vamos trabalhar com um conjunto de dados mais interessante. A pr√≥xima c√©lula cria uma matriz chamada `populacao` que inclui popula√ß√µes mundiais estimadas em cada ano de **1950** a **2022**. (As estimativas v√™m da seguinte [base de dados internacional](https://www.census.gov/data-tools/demo/idb/#/country?COUNTRY_YEAR=2022&COUNTRY_YR_ANIM=2022), mantida pelo US Census Bureau.)

Em vez de digitar os dados manualmente, n√≥s os carregamos de um arquivo em seu computador chamado `world_population_2022.csv`.

`CSV` ou Comma  separated values s√£o arquivos tabulares onde cada linha representa uma amostra e cada coluna um atributo da amostra (similar a um arquivo de planilha excel).

In [10]:
# N√£o se preocupe sobre o que est√° acontecendo nessa c√©lula por enquanto
populacao = pd.read_csv("data/world_population_2022.csv").get("Population").values
populacao

array([2557619597, 2594942227, 2636777090, 2682060684, 2730237675,
       2782111389, 2835315327, 2891368627, 2948159570, 3000742521,
       3043031253, 3084053711, 3140239653, 3210037409, 3281477826,
       3350773176, 3421097064, 3490825940, 3562887008, 3637819236,
       3713457589, 3791172327, 3867519813, 3943132388, 4017779234,
       4089387557, 4159536915, 4230430893, 4301282222, 4374940345,
       4445975606, 4527418598, 4610620221, 4694937687, 4777055423,
       4862317393, 4949951891, 5040273543, 5131575729, 5222662682,
       5315511894, 5403253915, 5490481497, 5568231516, 5650178207,
       5733211108, 5815333785, 5895837672, 5975189305, 6053955779,
       6132455985, 6211328357, 6290282107, 6369186797, 6448262425,
       6527056809, 6607396274, 6689442159, 6773319540, 6857160919,
       6939761510, 7022084781, 7105001721, 7188528811, 7271598780,
       7353476064, 7435151387, 7516769535, 7597066210, 7676686052,
       7756873419, 7831718605, 7905336896])

Veja como obtemos o primeiro elemento de `populacao`, que √© a popula√ß√£o mundial no primeiro ano do conjunto de dados, 1950.

In [11]:
populacao[0]

2557619597

Observe que usamos colchetes aqui. Os colchetes sinalizam que estamos *acessando* um elemento do array. Colchetes em Python s√£o como subscritos em matem√°tica (igual $x_1$, $x_2$, ...).

O valor dessa express√£o √© o n√∫mero 2557619597 (cerca de 2,5 bilh√µes), porque √© a primeira coisa na matriz `populacao`.

Observe que escrevemos `populacao[0]`, n√£o `populacao[1]`, para obter o primeiro elemento. Esta √© uma conven√ß√£o estranha na ci√™ncia da computa√ß√£o. 0 √© chamado de *√≠ndice* do primeiro item. Seguindo essa l√≥gica, ent√£o 3, por exemplo, √© o √≠ndice do 4¬∫ item.

Aqui est√£o mais alguns exemplos. Nos exemplos, demos nomes √†s coisas que obtemos de `populacao`. Leia e execute cada c√©lula.

In [12]:
# O terceiro elemento do array √© a popula√ß√£o em 1952.
populacao_1952 = populacao[2]
populacao_1952

2636777090

In [13]:
# O d√©cimo terceiro elemento do array √© a popula√ß√£o em 1962 (que √© 1950 + 12).
populacao_1962 = populacao[12]
populacao_1962

3140239653

In [14]:
# O 73¬∫ elemento do array √© a popula√ß√£o em 2022.
populacao_2022 = populacao[72]
populacao_2022

7905336896

In [15]:
# O array possui apenas 73 elementos, ent√£o isso n√£o funciona.
#populacao_2023 = populacao[73]
#populacao_2023

# üö® Depois de executar esta c√©lula, coloque um # antes de cada linha acima
# para garantir que ela n√£o seja executada novamente.

**Quest√£o 1.2.1.** Defina `populacao_1998` para a popula√ß√£o mundial em 1998, obtendo o elemento apropriado de `populacao`.

In [17]:
populacao_1998 = populacao[48]
print(f'populacao_1998', populacao_1998)

populacao_1998 5975189305

In [ ]:
#@title Solu√ß√£o
# 1998 - 1950  = 48
populacao_1998 = populacao[48]
populacao_1998

# 2. DataFrames

## 2.1. Introdu√ß√£o

Para uma cole√ß√£o de coisas no mundo, um array √© √∫til para descrever um √∫nico atributo de cada coisa. As tabelas ampliam essa ideia descrevendo v√°rios atributos para cada elemento de uma cole√ß√£o.

Na c√©lula abaixo temos dois arrays. O primeiro cont√©m a popula√ß√£o mundial em cada ano (conforme estimado pelo US Census Bureau), e o segundo cont√©m os pr√≥prios anos (em ordem, de modo que os primeiros elementos na popula√ß√£o e as matrizes de anos correspondam).

In [ ]:
anos = np.arange(1950, 2022+1)
quantidade_populacional = pd.read_csv("data/world_population_2022.csv").get("Population").values

print("Coluna de popula√ß√£o:", quantidade_populacional)
print("Coluna dos anos:", anos)

Suponha que queiramos responder a esta pergunta:

> Quando √© que a popula√ß√£o mundial ultrapassou os 7 mil milh√µes?

Voc√™ poderia tecnicamente responder a essa pergunta apenas olhando para as matrizes, mas √© um pouco complicado, pois seria necess√°rio contar a posi√ß√£o onde a popula√ß√£o ultrapassou pela primeira vez os 7 bilh√µes e, em seguida, encontrar o elemento correspondente na matriz de anos. Em casos como estes, pode ser mais f√°cil colocar os dados em uma tabela.

Assim como `numpy` fornece arrays, um pacote popular chamado `pandas` fornece **DataFrames**, que √© o nome em `pandas` para **tabelas**. `pandas` √© *a* ferramenta para fazer ci√™ncia de dados em Python.

Voc√™ pode importar `pandas` usando o seguinte c√≥digo:

In [ ]:
import pandas as pd

A c√©lula abaixo:

- cria um DataFrame vazio usando a express√£o `pd.DataFrame()`,
- atribui duas colunas ao DataFrame chamando `assign`,
- atribui o DataFrame resultante ao nome `populacao_df` e, finalmente
- exibe `populacao_df` para que possamos ver o DataFrame que criamos.

`"Populacao"` e `"Ano"` s√£o r√≥tulos de coluna que escolhemos. Poder√≠amos ter escolhido qualquer coisa, mas √© uma boa ideia escolher nomes que sejam descritivos e n√£o muito longos.

In [ ]:
populacao_df = pd.DataFrame().assign(
    Populacao=quantidade_populacional,
    Ano=anos
)

populacao_df

Agora os dados est√£o todos juntos em um √∫nico DataFrame! √â muito mais f√°cil analisar esses dados. Se voc√™ precisa saber qual era a popula√ß√£o em 2011, por exemplo, voc√™ pode saber com um simples olhar. Revisitaremos este DataFrame mais tarde.

**Quest√£o 2.1.1.** Na c√©lula abaixo, criamos 2 arrays. Usando as etapas acima, atribua `top_10_filmes` a um DataFrame que possui duas colunas chamadas `Avaliacao` e `Nome`, que cont√™m `top_10_avaliacoes` e `top_10_nomes` respectivamente.

In [ ]:
top_10_avaliacoes = np.array([9.2, 9.2, 9., 8.9, 8.9, 8.9, 8.9, 8.9, 8.9, 8.8])
top_10_nomes = np.array([
        'The Shawshank Redemption (1994)',
        'The Godfather (1972)',
        'The Godfather: Part II (1974)',
        'Pulp Fiction (1994)',
        "Schindler's List (1993)",
        'The Lord of the Rings: The Return of the King (2003)',
        '12 Angry Men (1957)',
        'The Dark Knight (2008)',
        'Il buono, il brutto, il cattivo (1966)',
        'The Lord of the Rings: The Fellowship of the Ring (2001)'
])

In [ ]:
import pandas as pd
import numpy as np
top_10_avaliacoes = np.array([9.2, 9.2, 9., 8.9, 8.9, 8.9, 8.9, 8.9, 8.9, 8.8])
top_10_nomes = np.array([
        'The Shawshank Redemption (1994)',
        'The Godfather (1972)',
        'The Godfather: Part II (1974)',
        'Pulp Fiction (1994)',
        "Schindler's List (1993)",
        'The Lord of the Rings: The Return of the King (2003)',
        '12 Angry Men (1957)',
        'The Dark Knight (2008)',
        'Il buono, il brutto, il cattivo (1966)',
        'The Lord of the Rings: The Fellowship of the Ring (2001)'
])
top_10_filmes = pd.DataFrame().assign(
    Nome=top_10_nomes,
    Avaliacao=top_10_avaliacoes
)
top_10_filmes

In [ ]:
#@title Solu√ß√£o
top_10_filmes = pd.DataFrame().assign(
    Nome=top_10_nomes,
    Avaliacao=top_10_avaliacoes
)
top_10_filmes

Suponha que voc√™ queira adicionar suas pr√≥prias classifica√ß√µes a este DataFrame. A c√©lula abaixo cont√©m sua avalia√ß√£o de cada filme:

In [ ]:
minhas_avaliacoes = [8, 2, 1, 9, 7, 10, 6, 4, 3, 5]

**Pergunta 2.1.2** Voc√™ tamb√©m pode usar o m√©todo `assign` para adicionar uma coluna a um DataFrame j√° existente. Crie um novo DataFrame chamado `com_minhas_avaliacoes` adicionando uma coluna chamada `MinhaAvaliacao` ao DataFrame em `top_10_filmes`.

In [ ]:
import pandas as pd
import numpy as np
top_10_avaliacoes = np.array([9.2, 9.2, 9., 8.9, 8.9, 8.9, 8.9, 8.9, 8.9, 8.8])
top_10_nomes = np.array([
        'The Shawshank Redemption (1994)',
        'The Godfather (1972)',
        'The Godfather: Part II (1974)',
        'Pulp Fiction (1994)',
        "Schindler's List (1993)",
        'The Lord of the Rings: The Return of the King (2003)',
        '12 Angry Men (1957)',
        'The Dark Knight (2008)',
        'Il buono, il brutto, il cattivo (1966)',
        'The Lord of the Rings: The Fellowship of the Ring (2001)'
])
com_minhas_avaliacoes = np.array([8, 2, 1, 9, 7, 10, 6, 4, 3, 5])
MinhaAvaliacao = pd.DataFrame().assign(
    Nome=top_10_nomes,
    Avaliacao=top_10_avaliacoes,
    MinhaAvaliacao=com_minhas_avaliacoes
)
MinhaAvaliacao

In [ ]:
#@title Solu√ß√£o
com_minhas_avaliacoes = top_10_filmes.assign(MinhaAvaliacao=minhas_avaliacoes)
com_minhas_avaliacoes

## 2.2. √çndices

Voc√™ deve ter notado que o DataFrame de popula√ß√µes cont√©m o que parece ser uma coluna extra e sem r√≥tulo √† esquerda com os n√∫meros de 0 a 65. **Isto n√£o √© uma coluna, √© o que chamamos de *√≠ndice***. O √≠ndice cont√©m os r√≥tulos das linhas. Enquanto as colunas deste DataFrame s√£o rotuladas como `"Populacao"` e `"Ano"`, as linhas s√£o rotuladas como 0, 1, ..., 65.

Por padr√£o, `pandas` n√£o sabe como rotular as linhas, ent√£o apenas as numera (come√ßando com 0). √â claro que, neste caso, faz mais sentido usar o ano como r√≥tulo da linha. Podemos fazer isso dizendo ao `pandas` para definir a coluna `"Ano"` como √≠ndice:

In [ ]:
populacao_por_ano = populacao_df.set_index('Ano')
populacao_por_ano

Como veremos, isso faz mais do que deixar o DataFrame mais bonito ‚Äì √© muito √∫til tamb√©m.

**Pergunta 2.2.1** Crie um novo DataFrame chamado `top_10_filmes_por_nome` pegando o DataFrame que voc√™ criou acima, `top_10_filmes`, e definindo o √≠ndice como a coluna `Nome`.

In [ ]:
import pandas as pd
import numpy as np
top_10_avaliacoes = np.array([9.2, 9.2, 9., 8.9, 8.9, 8.9, 8.9, 8.9, 8.9, 8.8])
top_10_nomes = np.array([
        'The Shawshank Redemption (1994)',
        'The Godfather (1972)',
        'The Godfather: Part II (1974)',
        'Pulp Fiction (1994)',
        "Schindler's List (1993)",
        'The Lord of the Rings: The Return of the King (2003)',
        '12 Angry Men (1957)',
        'The Dark Knight (2008)',
        'Il buono, il brutto, il cattivo (1966)',
        'The Lord of the Rings: The Fellowship of the Ring (2001)'
])
top_10_filmes = pd.DataFrame().assign(
    Nome=top_10_nomes,
    Avaliacao=top_10_avaliacoes
)
top_10_filmes_por_nome = top_10_filmes.set_index('Nome')
top_10_filmes_por_nome

In [ ]:
#@title Solu√ß√£o
top_10_filmes_por_nome = top_10_filmes.set_index('Nome')
top_10_filmes_por_nome

Voc√™ pode obter um array de nomes de linhas usando `.index`. Por exemplo, o array de nomes de linhas do DataFrame `populacao_por_ano` √©:

In [ ]:
populacao_por_ano.index

## 2.3 Lendo um DataFrame de um arquivo
Na maioria dos casos, n√£o teremos o trabalho de digitar todos os dados manualmente. Em vez disso, podemos usar fun√ß√µes fornecidas por `pandas` para ler dados de arquivos externos.

A fun√ß√£o `pd.read_csv()` pega um argumento, um caminho para um arquivo de dados (uma string) e retorna um DataFrame. Existem muitos formatos de arquivos de dados, mas CSV (*comma separated values*, ou "valores separados por v√≠rgula") √© o mais comum.

**dataframe** O arquivo `data/imdb.csv` cont√©m informa√ß√µes sobre os 250 filmes mais bem avaliados no IMDb. Carregue-o como um DataFrame chamado `imdb`.

In [ ]:
imdb =pd.read_csv('data/imdb.csv')
imdb

Observe os `...` no meio do DataFrame. Isso significa que muitas linhas foram omitidas. Este DataFrame √© grande o suficiente para que apenas algumas de suas linhas sejam exibidas, mas as outras ainda est√£o l√°. S√£o 250 filmes no total.

De onde veio o `imdb.csv`? Se voc√™ entrar no diret√≥rio `data/`, dever√° ver um arquivo chamado `imdb.csv`.

Abra o arquivo `imdb.csv` nessa pasta e observe o formato. O que voc√™ percebe? A termina√ß√£o do nome do arquivo `.csv` indica que este arquivo est√° no formato [CSV (comma-separated value)](http://edoceo.com/utilitas/csv-file-format).

**Pergunta 2.3.2.** Este √© um conjunto de dados de filmes, portanto faz sentido usar o t√≠tulo do filme como r√≥tulo da linha. Crie um novo DataFrame chamado `imdb_por_nome` que usa o t√≠tulo do filme como √≠ndice.

In [ ]:
import pandas as pd
import numpy as np
imdb = pd.read_csv('/usr/data/imdb.csv')
imdb_por_nome = imdb.set_index('Title')
imdb_por_nome

In [ ]:
#@title Solu√ß√£o
imdb_por_nome = imdb.set_index('Title')
imdb_por_nome

## 2.4. Series

Suponha que estejamos interessados ‚Äã‚Äãprincipalmente nas classifica√ß√µes de filmes. Para extrair apenas esta coluna do DataFrame, usamos o m√©todo `.get`:

In [ ]:
avaliacoes = imdb_por_nome.get('Rating')
avaliacoes

Observe como n√£o apenas as classifica√ß√µes do filme foram retornadas, mas tamb√©m o nome do filme! Isto ocorre precisamente porque definimos o t√≠tulo do filme como o √≠ndice! Por exemplo, se tiv√©ssemos solicitado a coluna `"Rating"` do DataFrame original, `imdb`, ver√≠amos:

In [ ]:
imdb.get('Rating')

Esta √© uma forma pela qual os √≠ndices s√£o muito √∫teis ‚Äì eles fornecem r√≥tulos significativos para os dados.

√Ä primeira vista, pode parecer que pedir uma coluna usando `.get` retorna um DataFrame com uma coluna, mas isso n√£o est√° certo. Em vez disso, ele retorna um tipo especial de coisa chamado **Series**:

In [ ]:
type(imdb_por_nome.get('Rating'))

Voc√™ pode pensar em uma `Series` como um array com um √≠ndice. Enquanto as matrizes s√£o sequ√™ncias simples de n√∫meros sem r√≥tulos, `Series` pode ter r√≥tulos. Isso geralmente √© muito √∫til.

`avaliacoes` agora √© uma `Series` que cont√©m a coluna de classifica√ß√µes de filmes. Suponha que estejamos interessados ‚Äã‚Äãna avalia√ß√£o de um filme espec√≠fico: _Alien_. Para fazer isso, usaremos o "*acessador*" `.loc` que extrai um valor da S√©rie em um *local* espec√≠fico:

In [ ]:
avaliacoes.loc["Alien"]

H√° algumas coisas a serem observadas aqui. Primeiro, esses s√£o colchetes em torno de `"Alien"`. Isso ocorre porque `.loc` n√£o √© um m√©todo, mas um "*acessador*". Os colchetes sinalizam que iremos extrair um elemento da `S√©rie`. Segundo, passamos o r√≥tulo como uma string.

**Pergunta 2.4.1.** Encontre a avalia√ß√£o de _3 Idiotas_ (*3 Idiots*).

In [ ]:
avaliacao_de_tres_idiotas = avaliacoes.loc['3 Idiots']
avaliacao_de_tres_idiotas

In [ ]:
#@title Solu√ß√£o
avaliacao_de_tres_idiotas = avaliacoes.loc['3 Idiots']
avaliacao_de_tres_idiotas

Agora suponha que quis√©ssemos saber o ano em que _Alien_ foi lan√ßado. Poder√≠amos fazer isso obtendo primeiro a coluna dos anos:

In [ ]:
anos = imdb_por_nome.get('Year')
anos

E ent√£o usando `.loc` para obter a entrada correta:

In [ ]:
anos.loc['Alien']

Tamb√©m poder√≠amos fazer isso em uma √∫nica etapa *encadeando* as opera√ß√µes:

In [ ]:
imdb_por_nome.get('Year').loc['Alien']

Isso funciona porque o Python primeiro avalia `imdb_por_nome.get('Year')` como uma `Series`. Em seguida, avalia `.loc['Alien']` para retornar o ano.

O encadeamento √© usado com bastante frequ√™ncia e pode ser √∫til. Apenas certifique-se de n√£o encadear muitas coisas que tornem seu c√≥digo dif√≠cil de ler. Voc√™ sempre pode salvar um resultado intermedi√°rio em uma vari√°vel.

# 3. Analisando conjuntos de dados

Com apenas alguns m√©todos DataFrame, podemos responder algumas quest√µes interessantes sobre o conjunto de dados IMDb.

Se quisermos apenas as avalia√ß√µes dos filmes, podemos usar `.get`:

In [ ]:
avaliacoes = imdb_por_nome.get("Rating")
avaliacoes

Lembre-se de que `avaliacoes` √© uma s√©rie. Objetos de s√©rie possuem alguns m√©todos √∫teis.

**Pergunta 3.1.** Encontre a maior avalia√ß√£o no conjunto de dados.

*Dica:* Digite `avaliacoes.` e pressione Tab para ver uma lista dos m√©todos dispon√≠veis. Existe algum que parece √∫til?

In [ ]:
maior_avaliacao = avaliacoes.max()
maior_avaliacao

In [ ]:
#@title Solu√ß√£o
maior_avaliacao = avaliacoes.max()
maior_avaliacao

Voc√™ provavelmente quer saber o *nome* do filme de maior avalia√ß√£o que encontrou anteriormente! Para fazer isso, podemos ordenar toda a s√©rie usando o m√©todo `.sort_values`:

In [ ]:
avaliacoes.sort_values()

Portanto, na verdade, existem dois filmes com maior audi√™ncia no conjunto de dados: *Um Sonho de Liberdade* e *O Poderoso Chef√£o*.

Observe que estamos ordenando pelas avalia√ß√µes, e n√£o pelos r√≥tulos! Al√©m disso, o r√≥tulo segue a ordena√ß√£o conforme a sua avalia√ß√£o. Isto √© exatamente o que queremos.

Quando utilizamos o m√©todo `sort_values`, a `Series` resultante tem os dados ordenados em ordem crescente, do menor ao maior. Este √© o comportamento padr√£o de `sort_values`, mas podemos mudar isso. Se quis√©ssemos os filmes com melhor avalia√ß√£o no topo, precisar√≠amos especificar que a avalia√ß√£o n√£o deveria ser em ordem crescente com um *argumento keyword* ("palavra-chave") opcional:

In [ ]:
avaliacoes.sort_values(ascending=False)

Se definirmos o argumento `ascending` como `True`, obteremos o mesmo resultado como se n√£o o definissemos. Isso √© o que queremos dizer quando dizemos que o comportamento padr√£o de `sort_values` √© classificar em ordem crescente. Confirme se as pr√≥ximas duas c√©lulas fornecem a mesma sa√≠da.

In [ ]:
avaliacoes.sort_values(ascending=True)

In [ ]:
avaliacoes.sort_values()

N√£o s√≥ podemos ordenar s√©ries, mas tamb√©m ordenar DataFrames inteiros. Quando fazemos isso, temos que especificar a coluna pela qual iremos ordenar:

In [ ]:
imdb_por_nome.sort_values('Rating')

Da mesma forma, podemos especificar que a ordena√ß√£o deve estar em ordem decrescente:

In [ ]:
imdb_por_nome.sort_values('Rating', ascending=False)

Alguns detalhes sobre a ordena√ß√£o de um DataFrame:

1. O primeiro argumento para `sort_values` √© o nome de uma coluna pela qual iremos ordenar.
2. Se a coluna contiver strings, `sort` ordenar√° em ordem alfab√©tica; se a coluna tiver n√∫meros, ela ser√° ordenada numericamente.
3. `imdb_por_nome.sort_values("Rating")` retorna um novo DataFrame; o DataFrame `imdb_por_nome` n√£o √© modificado. Por exemplo, se chamarmos `imdb_por_nome.sort("Rating")`, ent√£o executar `imdb_por_nome` por si s√≥ ainda retornaria o DataFrame n√£o ordenado. Para salvar o resultado, voc√™ deve atribu√≠-lo a uma nova vari√°vel.
4. As linhas sempre permanecem juntas quando um DataFrame √© ordenado. N√£o faria sentido ordenar apenas uma coluna e deixar as outras colunas em paz. Por exemplo, neste caso, se orden√°ssemos apenas a coluna `"Rating"`, todos os filmes terminariam com avalia√ß√µes erradas.

**Pergunta 3.2.** Crie uma vers√£o de `imdb_por_nome` que seja ordenada cronologicamente, com os filmes mais antigos primeiro. Chame-o de `imdb_ordenado`.

In [ ]:
imdb_ordenado = imdb_por_nome.sort_values('Year')
imdb_ordenado

In [ ]:
#@title Solu√ß√£o
imdb_ordenado = imdb_por_nome.sort_values('Year')
imdb_ordenado

**Pergunta 3.3.** Qual √© o t√≠tulo do filme mais antigo no conjunto de dados? Voc√™ poderia simplesmente procurar isso na sa√≠da da c√©lula anterior. Em vez disso, escreva o c√≥digo Python para descobrir.

* **Dica:** Lembre-se de que o √≠ndice √© um array.

In [ ]:
titulo_do_filme_mais_antigo = imdb_ordenado.index[0]
titulo_do_filme_mais_antigo

In [ ]:
#@title Solu√ß√£o
titulo_do_filme_mais_antigo = imdb_ordenado.index[0]
titulo_do_filme_mais_antigo

Suponha que queiramos obter a avalia√ß√£o do filme mais antigo no DataFrame. Uma maneira de fazer isso √© primeiro encontrar o r√≥tulo de √≠ndice do filme mais antigo (o que j√° fizemos). Em seguida, extra√≠mos a coluna `"Rating"` e usamos `.loc` para encontrar a avalia√ß√£o do filme mais antigo.

In [ ]:
imdb_ordenado.get('Rating').loc[titulo_do_filme_mais_antigo]

Por√©m, existe uma maneira mais r√°pida. Uma s√©rie n√£o possui apenas um acessador `.loc`, mas tamb√©m um acessador `.iloc`. Enquanto `.loc` procura coisas por *r√≥tulo*, `.iloc` procura elementos por *posi√ß√£o inteira*.

Vamos lembrar o que est√° na coluna `"Rating"`:

In [ ]:
imdb_ordenado.get('Rating')

Se quisermos a avalia√ß√£o da primeira linha, podemos usar `.iloc[0]`:

In [ ]:
imdb_ordenado.get('Rating').iloc[0]

Isso retorna exatamente a mesma coisa que `imdb_ordenado.get('Rating').loc['The Kid']`; essas s√£o duas maneiras de fazer a mesma coisa. Normalmente √© mais conveniente acessar um elemento por seu r√≥tulo do que por sua posi√ß√£o inteira, mas √© bom saber `.loc` e `.iloc`.

# 4. Encontrar partes de um conjunto de dados

Suponha que voc√™ esteja interessado em filmes da d√©cada de 1950. Ordenar o DataFrame por ano n√£o ajuda, porque a d√©cada de 1950 est√° no meio do conjunto de dados. Em vez disso, usaremos um recurso de Series que nos permite comparar facilmente cada elemento em uma coluna com um valor espec√≠fico.

Primeiro lembre-se que podemos usar `.get` para extrair uma √∫nica coluna. O resultado n√£o √© um DataFrame, mas sim uma Series:

In [ ]:
imdb_por_nome.get('Decade')

Queremos verificar se cada filme foi lan√ßado na d√©cada de 1950. Python nos d√° uma maneira de verificar se duas coisas s√£o iguais com `==` (lembre-se que `=` j√° est√° sendo usado para outro prop√≥sito: atribui valores a vari√°veis nomes):

In [ ]:
imdb_por_nome.get('Decade') == 1950

Vemos que o resultado √© uma nova s√©rie que tem `Verdadeiro` apenas onde a d√©cada foi 1950, e `Falso` em todos os outros lugares. Dizemos que a Series resultante √© uma Series de *Booleanos*, ou uma *Series Booleana*.

Vamos chamar esse resultado de `eh_de_1950s`. Seu nome pode ser lido como se fosse uma pergunta: ‚Äúesse filme √© da d√©cada de 1950‚Äù?

In [ ]:
eh_de_1950s = imdb_por_nome.get('Decade') == 1950
eh_de_1950s

Cada linha √© uma resposta a esta pergunta. *O Homem Elefante* √© da d√©cada de 1950? `Falso`. *Tudo sobre Eva* √© da d√©cada de 1950? `Verdadeiro`.

Podemos usar `eh_de_1950s` para selecionar apenas as linhas de `imdb_por_nome` para as quais a resposta √© `Verdadeiro`. A sintaxe para isso √©:

In [ ]:
imdb_por_nome[eh_de_1950s]

O que `imdb_por_nome[eh_de_1950s]` faz, precisamente, √© percorrer `imdb_por_nome` linha por linha. Se a linha chamada *Singin' in the Rain* tiver o valor `True` em `eh_de_1950s`, essa linha ser√° mantida. Se o valor for `False`, a linha ser√° descartada. E assim por diante, para cada linha.

Observe que poder√≠amos ter conseguido isso sem nunca criar a vari√°vel `eh_de_1950s`, simplesmente colocando o c√≥digo que usamos para criar a Series booleana diretamente dentro de `[...]`. Este √© um padr√£o t√≠pico que voc√™ usar√° muito!

In [ ]:
imdb_por_nome[imdb_por_nome.get('Decade') == 1950]

Ajuda ler os colchetes como "onde". Portanto, o comando na c√©lula acima diz para manter todas as linhas de `imdb_por_nome` *onde* a d√©cada √© a d√©cada de 1950.

Criar um novo DataFrame selecionando apenas certas linhas de um DataFrame existente que satisfa√ßa alguma condi√ß√£o √© chamado de *consulta*. A linha de c√≥digo `imdb_por_nome[imdb_por_nome.get('Decade') == 1950]` √© uma *consulta*.

**Quest√£o 4.1.** Crie um DataFrame chamado `noventa_e_oito` contendo os filmes lan√ßados em 1998.

In [ ]:
noventa_e_oito = imdb_por_nome[imdb_por_nome.get('Year') == 1998]
noventa_e_oito

In [ ]:
#@title Solu√ß√£o
noventa_e_oito = imdb_por_nome[imdb_por_nome.get('Year') == 1998]
noventa_e_oito

At√© agora s√≥ descobrimos onde uma coluna √© *exatamente* igual a um determinado valor. No entanto, existem muitos outros operadores de compara√ß√£o que poder√≠amos usar. Aqui est√£o alguns:

|Operador|Testes|
|-|-|
|`==`|a coisa da esquerda √© igual √† coisa da direita|
|`!=`|a coisa √† esquerda *n√£o* √© igual √† coisa √† direita|
|`>`|a coisa √† esquerda √© maior que (e n√£o igual) √† coisa √† direita|
|`>=`|a coisa √† esquerda √© maior ou igual √† coisa √† direita|
|`<`|a coisa √† esquerda √© menor que (e n√£o igual) √† coisa √† direita|

As [notas de curso](https://notes.dsc10.com/02-data_sets/querying.html#examples) do DSC10 tem mais exemplos.

Qual √© a maior avalia√ß√£o de qualquer filme da d√©cada de 1990? Agora temos as ferramentas para responder a perguntas como essas. Dividindo em peda√ßos, encontramos primeiro todos os filmes da d√©cada de 1990:

In [ ]:
eh_de_1990s = imdb_por_nome.get('Decade') == 1990
eh_de_1990s

Em seguida, selecionamos apenas estes filmes em nosso DataFrame:

In [ ]:
de_1990s = imdb_por_nome[eh_de_1990s]
de_1990s

Encontramos ent√£o a maior avalia√ß√£o apenas destes filmes:

In [ ]:
de_1990s.get('Rating').max()

Ou, se quis√©ssemos fazer tudo isso de forma mais concisa usando encadeamento:

In [ ]:
imdb_por_nome[imdb_por_nome.get('Decade') == 1990].get('Rating').max()

A propriedade `shape` informa quantas linhas e colunas existem em um DataFrame. (Uma "propriedade" √© similar a um m√©todo que n√£o precisa ser chamado adicionando par√™nteses.)

In [ ]:
imdb_por_nome.shape

Como um array, voc√™ pode obter o primeiro elemento do `shape` usando `[0]` e o segundo elemento usando `[1]`. Por exemplo, o n√∫mero de linhas em `imdb_por_nome` √©:

In [ ]:
imdb_por_nome.shape[0]

**Pergunta 4.5.** Finalmente, vamos revisitar o DataFrame `populacao_por_ano` do in√≠cio do laborat√≥rio. Calcule o ano em que a popula√ß√£o mundial ultrapassou pela primeira vez os 7 mil milh√µes.

In [ ]:
ano_que_a_populacao_ultrapassou_7_bilhoes = populacao_por_ano[populacao_por_ano.get('Populacao') > 7000000000].index[0]
ano_que_a_populacao_ultrapassou_7_bilhoes

In [ ]:
#@title Solu√ß√£o

ano_que_a_populacao_ultrapassou_7_bilhoes = populacao_por_ano[populacao_por_ano.get('Populacao') > 7000000000].index[0]
ano_que_a_populacao_ultrapassou_7_bilhoes

# Linha de chegada

Parab√©ns! Voc√™ concluiu o Laborat√≥rio 1.

Para enviar sua tarefa:

1. Selecione `Kernel -> Reiniciar e executar tudo` para garantir que voc√™ executou todas as c√©lulas.
2. Leia o caderno para ter certeza de que est√° tudo bem.
4. Baixe seu notebook usando `Arquivo -> Baixar como -> Notebook (.ipynb)` e, em seguida, carregue seu notebook para o Moodle.

<img src='http://www.inf.ufes.br/~vinicius.mota/Intro-IA-CD/banner_separador.png' style="float: right;">